<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
</head>
<body>
  <header>
    <main>
      <nav>
        <ul>
          <li>Item</li>
        </ul>
      </nav>
    </main>
    <h1>{{ .Site.Title }}</h1>
    <p>Parrafo</p>
    <img src="" />
  </header>
  <section></section>
  <footer></footer>
</body>
</html>
